body{
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les espacements par défaut */
    height: 100vh; /* Assure que le corps occupe 100% de la hauteur de la fenêtre */
    width: 100%; /* Assure que le corps occupe 100% de la largeur */
    display: flex; /* Optionnel : facilite le centrage de contenu */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    background-image: url(../static/bg-1.jpg);
    background-size: cover; /* L'image couvre toute la zone de l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
}

.main-circle{
    margin: auto;
    box-sizing: border-box;
    display: block;

}

.outer-circle{
    box-shadow: 0 0 50px 10px #0b113a;
    border: 10px solid #0057ac;
    border-top-color: #0b113a;
    margin: 20% auto;
    text-align: center;
    background: linear-gradient(to bottom,#fff 48%,#e5f0f8 49%,#e5f0f8 51%,#fff 52%);
    width: 220px;
    height: 220px;
    border-radius: 220px;
    animation: turning_cw 5s infinite;
    position: relative;
    opacity: .6;
}

.inner-circle{
    border: 10px solid #0057ac;
    border-left-color: #0b113a;
    border-right-color: #0b113a;
    transform: rotate(360deg);
    position: absolute;
    background: linear-gradient(to bottom,#e5f0f8 48%,#0b113a 49%,#0b113a 51%,#0057ac 52%);
    margin: 10px;
    width: 180px;
    height: 180px;
    border-radius: 180px;
    animation: turning_acw 3s infinite;
}

.center-circle{
    position: relative;
    border: 10px solid #0b113a;
    border-bottom-color: #0057ac;
    transform: rotate(360deg);
    background: linear-gradient(to bottom,#fff 48%,#0057ac 49%,#0057ac 51%,#fff 52%);
    margin: 10px auto;
    width: 140px;
    height: 140px;
    border-radius: 140px;
    animation: turning_cw 5s infinite;
    text-align: center;
}
.content {
    position: absolute; /* Positionne par rapport à .center-circle */
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Ajuste le centrage exact */
    width: 120px; /* Diamètre du cercle (ajustez selon vos besoins) */
    height: 120px; /* Diamètre du cercle */
    border-radius: 140px; /* Forme circulaire */
    background: #0b113a; /* Fond transparent */
    text-align: center;
    line-height: 120px; /* Aligne verticalement le texte à l'intérieur */
    font-size: 30px;
    color: #0b113a;
    text-shadow: 0 2px 2px #000;
    font-weight: 700;
    transform-origin: center; /* Définir le centre de rotation */
}


@keyframes turning_cw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes turning_acw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}