<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='loading.css') }}">
    <title>Loading</title>
</head>

<body>
    <div class="main-spiner">
        <div class="outer-circle">
            <div class="inner-circle">
                <div class="center-circle">
                    <div class="content"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>